/* work Sans font from goole.com */
 
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{
    font-family: 'Work Sans', sans-serif;
  }

  
  header{
    padding: 50px 240px;
    
   
}
  .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }
  .logo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
  }
  .logo-container h1{
    font-size: 45px;
    margin-right: 20px;
  }

  .logo-container img{
    height: 40px;
     margin-right: 20px;
  }
  .nav-item-container a{
    text-decoration: none;
    margin-right: 20px;
    color: #3C354F;;
  }

  .nav-item-container{
    color:#3C354F;
    font-size: 18px;
    font-weight: 500px;
    text-align: center;
    
    
  }

.fllow-us{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 10px 30px;
}

.logo-text-color{
    color:#FF42A5;

}

/* this is header style  */

.banner-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-right: 240px;
    padding-left: 110px;
   
   
  }

.banner-text h2{
  
   font-size: 48px;
    font-weight: 600;

}
.banner-text {
   
}

.banner-text h1{
    color: #F948B2;
    font-size: 50px;
    font-weight: 600;
}

.banner-text p{
 font-size: 20px;
 line-height: normal;
 
}

.btn-1{
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    background-color: #FF42A5;
    color: white;
    text-transform: uppercase;
}
.btn-2{
    padding: 10px 20px;
    border-radius: 20px;
    border-style: none;
    background-color: #4EC5F7;
    color: white;
    font-family: Work Sans;
    text-transform: uppercase;
}

.banner-img img{
    width: 400px;
}
/* this is .banner-container1  */

.gamer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-right: 240px;
    padding-left: 110px;
    padding-top: 30px;
    padding-bottom: 30px;
   
  
}

.gamer-img img{
  width:490px;
}

.gamer-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: #FF42A5;
  text-align: right;
}

.gamer-text{
  text-align: right;
}
.gamer-text p{
  color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
  
}
/* this ia gamer  */

.online-games-text{

  width: 500px;
  text-align: center;
  align-content: center;
  margin: 0px auto;
}

.online-games-img{
  display: flex;
  justify-content:space-around;
  padding-right: 240px;
  padding-left: 110px;
  
  
}

.online-games-img img{
   width: 240px; 
   min-height: 150px;
   margin-right: 15px;
}

.online-games-text h1{
  color: #0B0223;;

}

.funny-video{
  color: #F948B2;
}
  /* this is online game  */
  
.online-play-games{
  display: flex; 
  justify-content: space-around;
  align-items: center;
  padding-right: 240px;
  padding-left: 110px;
}

.oline-games01{
  width: 300px;
  height: 300px;
}

.oline-games02{
  width: 150px;
  height: 150px;
  position: relative;
  right: 100px;
  top: 50px;
}

/* this is online game  */

.icon-container {
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 200px;
  justify-content: center;
  gap:10px;
  font-size: 14px;
}
  


.icon-box{
  display: flex;
  width: 200px;
  padding: 5px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  
}

.icon-box img{
  width: 40px;
  height:40px;
  margin-right: 10px;
  
}

.icon-box a{

  text-decoration: none;
}
.icon-box:hover {
  border: 1px solid #F948B2;
  
}

.icon-box a:hover {
  
  color: #F948B2;
  font-weight: bold;
}
 /* This is icon section  */

 .footer-container{
  margin-top: 20px;
  background-color: #0B0223;
  text-align: center;
  justify-content: center;
  padding: 50px;
 }

.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img{
  height: 40px;
 
}

.footer-logo h1{
  color: white;
}
.site-link a{
  color:rgba(255, 255, 255, 0.60);
  text-decoration: none;
padding: 25px;
}

.social-icon{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 20px;
  margin: 0px auto;
}




.privaci-link a{
  color:rgba(255, 255, 255, 0.60);
  text-decoration: none;
padding: 25px;
}



.copyright p{
  color: rgba(255, 255, 255, 0.60);
}

/* moblie responsive  */

  
  
